<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true"></compilation>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\BankAccountServices.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
	</system.webServer>
	<system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
	</system.webServer>
</configuration>